<div class='card'>
  <div class='card-header' >
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'
      [style.border.px] = "filterMarginTop"
      [style.border.px] = "imageBorder"
      >FILTER BY: {{Amount | lowercase}} &nbsp;<i class="fa fa-caret-down"></i></div>
      <div class='col-md-4'>
        <input type='text' [(ngModel)] = 'listFilter'/>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <!--using interpolation to bind -->
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>
    <div class='table-responsive'></div>
      <table class='table' *ngIf="products && products.length">
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary' (click) = 'toggleImage()'>
                {{showImage ? 'Hide' : 'Show'}} Image
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let goat of products'>
            <td>

              <!--PROPERTY BINDING-->
              <img *ngIf="showImage" [src]="goat.imageUrl" alt=""
              [title] = "goat.productName"
              style.width.px = {{imageWidth}}
              [style.margin.px] = "imageMargin"
              style.height.px = {{imageHeight}}
              [style.border] = 'imageBorder'
              style.padding.px = {{imagePadding}}
              [style.borderRadius.px] = "imageBorderRadius"
              >

              <!--BINDING USING INTERPOLATION
              e.g src = {{goat.imageUrl}}
              title = {{goat.productName}}
              -->

            </td>
            <td>{{ goat.productName}}</td>
            <td>{{ goat.productCode | lowercase}} </td>
            <td>{{ goat.releaseDate }}</td>
            <td>{{ goat.price | currency: 'USD': 'symbol': '1.2-2'}} </td>
            <td>{{ goat.starRating }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
<div class='alert alert-danger'></div>
